<!DOCTYPE html>
<html>
<head>
	<title>My Application</title>

</head>
<body>
	<p> This is a paragraph. Time <%=  new Date() %> </p>
	<button id="myButton">Show Blobs</button>
	<script src="script.js"></script>
</body>
</html>
